<div class="question-div">
	<p class="question-text"><%= @new_question.text %></p>
  <p class="resp-type-status">status</p>
  <div id="resp-type-button-div">
    <button type="submit" formaction="/surveys/<%= @new_question.survey_id %>/questions/<%= @new_question.id %>/edit" class="btn btn-primary set-resp-type-btn" value="response">response</button>
  </div>
  
	<div class="required-dropdown">
    <button class="btn btn-primary dropdown-toggle required-dropdown-toggle" type="button" data-toggle="dropdown">required
    <span class="caret"></span></button>
    <ul class="dropdown-menu required-dropdown-menu">
      <li><a id="required-yes" href="/surveys/<%= @new_question.survey_id %>/questions/<%= @new_question.id %>">yes</a></li>
      <li><a id="required-no" href="/surveys/<%= @new_question.survey_id %>/questions/<%= @new_question.id %>">no</a></li>
    </ul>
  </div>

</div>